* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header style */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 15px 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
}


/* Section one Style */

.section-one {
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
    align-items: center;
    gap: 20px;
    background-color: #1F2937;
}

.text-one h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text-one p {
    font-size: 18px;
    color: #e5e7eb;
}

.text-one button {
    padding: 10px 30px;
    background-color: #3882f6;
    color: #e5e7eb;
    margin-top: 5px;
    font-weight: bolder;
    border-radius: 10%;
}


/* Section two Style */

.section-two {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    gap: 30px;
    margin: 10px 0;
}

.section-two-head {
    display: flex;
    justify-content: space-around;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.section-two-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section-two-illustration {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 200px;
    text-align: center;
    gap: 5px;
}

.section-two-illustration img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 2px solid #3882f6;
}

/* Section three Style */

.section-three {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    margin: 100px 0;
    background-color: #e5e7eb;
}

.section-three-quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-three-quote p{
    max-width: 800px;
}

.section-three-author {
    display: flex;
    justify-content: center;
    margin-left: 500px;
    font-weight: bold;
    font-size: 18px;
}


/* Section four Styling */

.section-four {
    display: flex;
    justify-content: space-around;
    padding: 40px 25px;
    background-color: #3882f6;
    margin: 0px 100px 70px;
    align-items: center;
    color: #E5E7EB;
    border-radius: 1%;
}

.section-four-button button {
    background-color: #3882f6;
    border: 2px solid #E5E7EB;
    color:#E5E7EB;
    padding: 10px 30px;
    border-radius: 10%;
    font-weight: bolder;
}

/* Footer Styling */

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}